<div id="about">
  <div class="container content-lg">
    <div class="row">
      <div class="col-sm-3 sm-margin-b-30">
        <div class="text-right sm-text-left">
          <div class="w3-display-container">
            <img
              class="img-fluid m-lg-5"
              src="../assets/img/img1.png"
              style="width: 100%"
              alt="Avatar"
            />
          </div>
        </div>
        <h3 class="w3-opacity ms-1 fw-bolder fs-1 text-lg-center">Skills :</h3>
        <li class="fs-2">CMS</li>
        <li class="fs-2">WordPress</li>
        <li class="fs-2">Google Analytics</li>
        <li class="fs-2">Git & Github</li>

        <li class="fs-2">Visual Studio</li>
        <li class="fs-2">Debugging</li>
        <li class="fs-2">Grit</li>
        <li class="fs-2">Hosting & Cpanel</li>
      </div>
      <div class="col-sm-8 col-sm-offset-1">
        <div class="margin-b-60">
          <p>
            Professionally, I am fullstack developer who can easily adapt and
            willing to learn other technologies in order to find suitable
            solution that meets the project requirements .I am task driven, I
            like to successfully complete all tasks, at the same time I like to
            complete my tasks in time so I have enough time to test and simplify
            the code. I am not just self-motivated but I am person who you can
            rely on and I’m also a team player.I see myself as a full stack
            developer who is more comfortable with front end.
          </p>
          <p>
            And personally, I am person who can handle pressure or conflict.
            With my personally it’s easy for people to get used to me.
          </p>
        </div>

        <!-- Progress Box -->
        <div class="progress-box">
          <h5>HTML & CSS<span class="color-heading pull-right">80%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="70"
            ></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>PHP<span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>Javascript <span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>

        <div class="progress-box">
          <h5>Bootstrap<span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>

        <div class="progress-box">
          <h5>Tailwind.css<span class="color-heading pull-right">5%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="5"
            ></div>
          </div>

          <div class="progress-box">
            <h5>Mysql<span class="color-heading pull-right">70%</span></h5>
            <div class="progress">
              <div
                class="progress-bar bg-color-base"
                role="progressbar"
                data-width="70"
              ></div>
            </div>
          </div>
          <div class="progress-box">
            <h5>Angluar<span class="color-heading pull-right">10%</span></h5>
            <div class="progress">
              <div
                class="progress-bar bg-color-base"
                role="progressbar"
                data-width="10"
              ></div>
            </div>
            <div class="progress-box">
              <h5>React.js<span class="color-heading pull-right">10%</span></h5>
              <div class="progress">
                <div
                  class="progress-bar bg-color-base"
                  role="progressbar"
                  data-width="10"
                ></div>
              </div>
            </div>
            <!--<div class="progress-box">
                            <h5>MS SERVER & SQL(T-SQL) <span class="color-heading pull-right">70%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-color-base" role="progressbar" data-width="70"></div>
                            </div>-->
          </div>
          <!-- End Progress Box -->
        </div>
      </div>
      <!--// end row -->
    </div>
  </div>
  <!-- End About -->
</div>
