<div id="about">
  <div class="container content-lg">
    <div class="row">
      <div class="col-sm-3 sm-margin-b-30">
        <div class="text-right sm-text-left">
          <div class="w3-display-container">
            <img
              class="img-fluid m-lg-5"
              src="../assets/img/img1.png"
              style="width: 100%"
              alt="Avatar"
            />
          </div>
        </div>
        <h3 class="w3-opacity ms-1 fw-bolder fs-1 text-lg-center">Skills :</h3>
        <li class="fs-2">CMS</li>
        <li class="fs-2">WordPress</li>
        <li class="fs-2">Google Analytics</li>
        <li class="fs-2">Git & Github</li>

        <li class="fs-2">Visual Studio</li>
        <li class="fs-2">Debugging</li>
        <li class="fs-2">Grit</li>
        <li class="fs-2">Hosting & Cpanel</li>
      </div>
      <div class="col-sm-8 col-sm-offset-1">
        <div class="margin-b-60">
          <p>
            As a junior developer, I am quick to pick up new technologies and
            adapt to evolving project needs. While I have a strong inclination
            towards frontend development, I am equally passionate about backend
            technologies and committed to expanding my skills in both areas. My
            approach is task-driven and focused on delivering high-quality
            solutions within deadlines, ensuring ample time for thorough testing
            and code refinement.
          </p>
          <p>
            I am not only self-motivated but also a dependable team player,
            ready to collaborate and contribute effectively within a team
            environment. My ability to handle pressure and navigate conflicts
            with ease makes me approachable and easy to work with.
          </p>
          <p>
            I am excited about the opportunity to grow as a developer,
            leveraging my frontend expertise while continuously learning and
            contributing to backend development.
          </p>
        </div>

        <!-- Progress Box -->
        <div class="progress-box">
          <h5>HTML & CSS<span class="color-heading pull-right">80%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="70"
            ></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>PHP<span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>
        <div class="progress-box">
          <h5>Javascript <span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>

        <div class="progress-box">
          <h5>Bootstrap<span class="color-heading pull-right">50%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="50"
            ></div>
          </div>
        </div>

        <div class="progress-box">
          <h5>Tailwind.css<span class="color-heading pull-right">40%</span></h5>
          <div class="progress">
            <div
              class="progress-bar bg-color-base"
              role="progressbar"
              data-width="5"
            ></div>
          </div>

          <div class="progress-box">
            <h5>Mysql<span class="color-heading pull-right">70%</span></h5>
            <div class="progress">
              <div
                class="progress-bar bg-color-base"
                role="progressbar"
                data-width="70"
              ></div>
            </div>
          </div>
          <div class="progress-box">
            <h5>Angluar<span class="color-heading pull-right">20%</span></h5>
            <div class="progress">
              <div
                class="progress-bar bg-color-base"
                role="progressbar"
                data-width="10"
              ></div>
            </div>
            <div class="progress-box">
              <h5>React.js<span class="color-heading pull-right">20%</span></h5>
              <div class="progress">
                <div
                  class="progress-bar bg-color-base"
                  role="progressbar"
                  data-width="10"
                ></div>
              </div>
            </div>
            <!--<div class="progress-box">
                            <h5>MS SERVER & SQL(T-SQL) <span class="color-heading pull-right">70%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-color-base" role="progressbar" data-width="70"></div>
                            </div>-->
          </div>
          <!-- End Progress Box -->
        </div>
      </div>
      <!--// end row -->
    </div>
  </div>
  <!-- End About -->
</div>
