<div id="projects">
  <h4 class="badge text-bg-info fs-1 m-2">Projects</h4>
  <div class="container">
    <div class="row mt-1">
      <div class="col-sm-6">
        <img src="../assets/img/clove.png" alt="" class="img-fluid" />
      </div>
      <div class="col-sm-6">
        <div class="text-center mt-5">
          <h2>Clove Project</h2>
          <p>
            An exciting project during my college days that makes uses of
            technologies such as html,css,javascript for the menu and php for
            form validation
          </p>
          <button href="">
            <a
              href="https://drive.google.com/file/d/1QMG_w6BM9fJ3Fg8ghAOPn50o_WJj0i6L/view?usp=sharing"
              >Demo</a
            >
          </button>
        </div>
      </div>
    </div>

    <!-- Start of second project-->
    <div class="row mt-3">
      <div class="col -sm-6">
        <div class="text-center mt-5">
          <h2>CMT Project</h2>
          <p>
            A project that makes use of php along with html, css animation on
            forms and my sql. This is a full stack project that took the use of
            both backend and front-end by the use of php
          </p>
          <button>
            <a
              href="https://drive.google.com/file/d/1bvILBYqjpAMI_kSVKJbQT9ut40PKNOLX/view?usp=sharing"
            >
              Demo</a
            >
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <img src="../assets/img/cmt.png" class="img-fluid" alt="cmt project" />
      </div>
    </div>
    <!-- Start of third project-->
    <div class="row mt-1">
      <div class="col-sm-6">
        <img src="../assets/img/mclaren.png" alt="" class="img-fluid" />
      </div>
      <div class="col-sm-6">
        <div class="text-center mt-5">
          <h2>McLaren</h2>
          <p>
            A project I build to keep my coding skills in shape and practice
            javascript a bit more. Technologies include html,css, js, jquery for
            the slideshow and also bootstrap for the icons as well
          </p>
          <button>
            <a href="https://mclaren-clone12.netlify.app">Demo</a>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col -sm-6">
        <div class="text-center mt-5">
          <h2>Weather</h2>
          <p>
            This project was done on my jounery with shecode. I build a weather
            application using html,css, js and also a api - to collect data on
            the fly about the weather.
          </p>
          <button>
            <a href="https://alisonforecast.netlify.app"> Demo</a>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="../assets/img/weather.png"
          class="img-fluid"
          alt="cmt project"
        />
      </div>
    </div>
    <div class="row mt-1">
      <div class="col-sm-6">
        <img src="../assets/img/todo.png" alt="" class="img-fluid" />
      </div>
      <div class="col-sm-6">
        <div class="text-center mt-5">
          <h2>TodoList</h2>
          <p>
            A CRUD application using react and abit of js. This application can
            edit, delete and view the todolist. Making it easy to cross of todo
            after you completed it
          </p>
          <button>
            <a
              href="https://drive.google.com/file/d/1UWYsmEf2Ubh0ULVnHj7ODe63eV5ZX_8O/view?usp=sharing"
              >Demo</a
            >
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col -sm-6">
        <div class="text-center mt-5">
          <h2>Travel Landing Page</h2>
          <p>
            A simple travel landing page with html,css. Using flexbox technique
            and an animation libary that results in great looking animations
            when loading the page.
          </p>
          <button>
            <a href="https://travelsite-243.netlify.app"> Demo</a>
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="../assets/img/travel.png"
          class="img-fluid"
          alt="cmt project"
        />
      </div>
    </div>

    <div class="row mt-1">
      <div class="col-sm-6">
        <img src="../assets/img/crystal.png" alt="" class="img-fluid" />
      </div>
      <div class="col-sm-6">
        <div class="text-center mt-5">
          <h2>Crystal Clear</h2>
          <p>
            A simple web to showcase my use of tailwind css initailise with vite
          </p>
          <button>
            <a href="https://crystal-math.netlify.app">Demo</a>
          </button>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col -sm-6">
        <div class="text-center mt-5">
          <h2>Joshua Kelley Portfolio</h2>
          <p>
            A website done with wordpress development, by using
            elementor,plugins, seo's, google analytics, themes.
          </p>
          <button>
            <a
              href="https://drive.google.com/file/d/1yzLGz02O_q2UNzhsJQ9T_YMpAoGGdz9g/view?usp=sharing"
            >
              Demo</a
            >
          </button>
        </div>
      </div>
      <div class="col-sm-6">
        <img
          src="../assets/img/joshuasjourney.png"
          class="img-fluid"
          alt="cmt project"
        />
      </div>
    </div>
  </div>
</div>
