<!-- Work -->
<div id="experience">
  <div class="container content-lg">
    <div class="row">
      <div class="col-sm-3 sm-margin-b-30">
        <div class="text-right sm-text-left">
          <h2 class="fs-1 margin-b-0">Worked &#64;</h2>
        </div>
      </div>
      <div class="col-sm-8 col-sm-offset-1">
        <!-- Masonry Grid -->
        <div class="masonry-grid row row-space-2">
          <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
          <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
            <!-- Work -->
            <div class="work work-popup-trigger">
              <div class="work-overlay">
                <img
                  class="full-width img-responsive"
                  src="../assets/img/companies/added.jpeg"
                  alt="Portfolio Image"
                />
              </div>
              <div class="work-popup-overlay">
                <div class="work-popup-content">
                  <a href="javascript:void(0);" class="work-popup-close"
                    >Hide</a
                  >
                  <div class="margin-b-30">
                    <h3 class="margin-b-5">Added Advantage Academy</h3>
                    <span>15 July 2022 - 30 July 2023</span>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-8 work-popup-content-divider sm-margin-b-20"
                    >
                      <div class="margin-t-10 sm-margin-t-0">
                        <li>Employment Type: Learnership</li>
                        <li>Responsibilities :</li>
                        <p>Developing Websites.</p>
                        <p>Design the database for the systems</p>

                        <li>Technologies Used :</li>
                        <p>Html 5 & Css, Mysql, Php</p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="margin-t-10 sm-margin-t-0">
                        <p class="margin-b-5">
                          <strong>Position :</strong> Junior developer Trainee
                        </p>
                        <p class="margin-b-5">
                          <strong>Duration :</strong> 1 year (12 months)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Work -->
          </div>
          <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
            <!-- Work -->
            <div class="work work-popup-trigger">
              <div class="work-overlay">
                <img
                  class="full-width img-responsive"
                  src="../assets/img/companies/don.png"
                  alt="Portfolio Image"
                />
              </div>
              <div class="work-popup-overlay">
                <div class="work-popup-content">
                  <a href="javascript:void(0);" class="work-popup-close"
                    >Hide</a
                  >
                  <div class="margin-b-30">
                    <h3 class="margin-b-5">Don Digital</h3>
                    <span>01 July 2023 - 28 July 2023</span>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-8 work-popup-content-divider sm-margin-b-20"
                    >
                      <div class="margin-t-10 sm-margin-t-0">
                        <li>Responsibilities:</li>
                        <p>
                          Create a website with lead developer on wordpress &
                          learning the cms websites. As well as woo-commerce
                        </p>
                        <li>Technologies Used :</li>
                        <p>
                          WordPress, Google Analytics, Hosting,
                          Elematator,woo-commerce, plugin & themes
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="margin-t-10 sm-margin-t-0">
                        <p class="margin-b-5">
                          <strong>Position:</strong> Intern web developer
                        </p>
                        <p class="margin-b-5">
                          <strong>Contract/Permanent :</strong> internship
                        </p>
                        <p class="margin-b-5">
                          <strong>Reason of leaving:</strong> internship Ended
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Work -->
          </div>
          <div
            class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4"
          >
            <!-- Work -->
            <div class="work work-popup-trigger">
              <div class="work-overlay">
                <img
                  class="full-width img-responsive"
                  src="../assets/img/companies/free.jpeg"
                  alt="Portfolio Image"
                />
              </div>
              <div class="work-popup-overlay">
                <div class="work-popup-content">
                  <a href="javascript:void(0);" class="work-popup-close"
                    >Hide</a
                  >
                  <div class="margin-b-30">
                    <h3 class="margin-b-5">Freelancer</h3>
                    <span>15 Dec 2023 - 25 Dec 2023</span>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-8 work-popup-content-divider sm-margin-b-20"
                    >
                      <div class="margin-t-10 sm-margin-t-0">
                        <li>Responsibilities :</li>
                        <p>Developing Websites and Web Applications.</p>
                        <li>Technologies Used :</li>
                        <p>
                          Html & Css, Php, WordPress, Google Analytics, Themes &
                          plugin, Cpanel
                        </p>
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="margin-t-10 sm-margin-t-0">
                        <p class="margin-b-5">
                          <strong>Position:</strong> WordPress Developer
                        </p>
                        <p class="margin-b-5">
                          <strong>Contract/Permanent :</strong> Contract
                        </p>
                        <p class="margin-b-5">
                          <strong>Reason of leaving:</strong> Family
                          Responsibility
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Work -->
          </div>
          <div
            class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 md-margin-b-4"
          >
            <!-- Work -->
            <div class="work work-popup-trigger">
              <div class="work-overlay">
                <img
                  class="full-width img-responsive"
                  src="../assets/img/companies/asty.jpeg"
                  alt="Portfolio Image"
                />
              </div>
              <div class="work-popup-overlay">
                <div class="work-popup-content">
                  <a href="javascript:void(0);" class="work-popup-close"
                    >Hide</a
                  >
                  <div class="margin-b-30">
                    <h3 class="margin-b-5">Asty Plastic</h3>
                    <span>15 March 2020 - 15 July 2022</span>
                  </div>
                  <div class="row">
                    <div
                      class="col-sm-8 work-popup-content-divider sm-margin-b-20"
                    >
                      <div class="margin-t-10 sm-margin-t-0">
                        <li>Responsibilities :</li>
                        <p>
                          Documentation, testing of products from the production
                          line,managing staff
                        </p>
                        <!--<li>Technologies Used :</li>
													  <p>Service Desk, HTML, CSS, JavaScript, Odin Flash Software, Emma Flash tool
                                                      Windows Server 2012 R2, SQL, Microsoft Office</p>-->
                      </div>
                    </div>
                    <div class="col-sm-4">
                      <div class="margin-t-10 sm-margin-t-0">
                        <p class="margin-b-5">
                          <strong>Position:</strong>Quality Controller
                        </p>
                        <p class="margin-b-5">
                          <strong>Contract/Permanent :</strong> Contract
                        </p>
                        <p class="margin-b-5">
                          <strong>Reason of leaving:</strong> Upskilling & self
                          improvement(Education)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Work -->
          </div>
        </div>
        <!-- End Masonry Grid -->
      </div>
    </div>
    <!--// end row -->
  </div>
</div>
<!-- End Work -->
<div data-aos="fade-right">
  <h1>My weather app</h1>
</div>
<!--========== END PAGE LAYOUT ==========-->
